@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito:ital,wght@0,400;0,700;1,200&family=Pacifico&display=swap');


*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  
}
body
{
	
	background-size: cover;
}
header
{
    top:0;left:0;right:0;
    display: flex;
    align-items:center;
    justify-content:space-between;
    background:#404040;
    text-transform: capitalize;
    padding-top: 3.5mm;
    padding-bottom: 3.5mm;
}

body i
{
    color:whitesmoke;
    font-size: 40px;
}
header .name1 
{
    color:white;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}
header a span
{
    color:rgb(238, 241, 8);
    font-size:44px;
    font-family: 'Dancing Script', cursive;
}
header  .navbar a
{
      margin: 30px;
      color:white;
      font-family: 'Outfit', sans-serif;
      font-size: 17px;
      font-weight: bolder;
}
header .icons i
{
    margin:1rem;
    color:white;
    font-size:20px;
}
header .navbar a:hover
{
    background-color:#FFFF99;
    color:black;
    font-size:20px;
    border-radius:15px;
    padding:5px;
}


.c2
{
	width:100%;
	height:100%;
	
}


.footer .box-container{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .share a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
  color:black;
  font-size:40px;
}
.footer .box-container .box .share a:hover{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
  color:black;
  font-size:50px;
  background:linear-gradient(lightblue,lightpink);
  border-radius:50%;
  padding:3px;
}


.footer .credit{
  padding:2.5rem 1rem;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span{
  color:orange;
}



